<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Medication
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">

    <!-- Search Bar Similar on Each Page -->
  <form id="medication-form5">
    <ion-searchbar name="lookfor" id="lookfor" [(ngModel)]='lookfor' (search)="searchMedications(lookfor)"></ion-searchbar>
  </form>
  <h1 id="medication-heading12" style="color:#FF0000;">
    Medication
  </h1>
    <ng-container *ngFor="let medicationType of medicationtypes; index as i; trackBy: trackByIndex">
      <h3 style="color:#FF0000;">{{medicationType.Description}}</h3>
      <ul *ngFor="let medication of medications; index as j; trackBy: trackByIndex">
        <li *ngIf="medication.MT_ID === i +1">
          <p>{{medication.Description}}</p>
        </li>
      </ul>
</ng-container>
</ion-content>