<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Risk Factors
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <form id="riskFactors-form3">
    <ion-searchbar name="lookfor" id="lookfor" [(ngModel)]='lookfor' (search)="searchRiskFactors(lookfor)"></ion-searchbar>
  </form>
  <h1 id="riskFactors-heading8" style="color:#FF0000;">
    Risk Factors
  </h1>
  {% comment %} each risk factor is sorted by their different groups  {% endcomment %}
  <ng-container *ngFor="let riskfactorType of riskfactortypes; index as i; trackBy: trackByIndex">
          <h3 style="color:#FF0000;">{{riskfactorType.Description}} </h3>
          <ul *ngFor="let riskfactor of riskfactors; index as j; trackBy: trackByIndex">
            <li *ngIf="riskfactor.RFT_ID === i +1">
              <p>{{riskfactor.Description}}</p>
            </li>
          </ul>
  </ng-container>
</ion-content>