<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <form id="symptoms-form2">
   <ion-searchbar name="lookfor" id="lookfor" [(ngModel)]='lookfor' (search)="searchSymptoms(lookfor)"></ion-searchbar>
  </form>
  <h1 id="symptoms-heading6" style="color:#FF0000;">
    Symptoms
  </h1>
    <!--each symptom is sorted by their different groups-->  
      <ng-container *ngFor="let symptomType of symptomtypes; index as i; trackBy: trackByIndex">
          <h3 style="color:#FF0000;"> {{symptomType.Description}} </h3>
          <ul *ngFor="let symptom of symptoms; index as j; trackBy: trackByIndex">
              <li *ngIf="symptom.SymptomTypeID === i +1">
                  <p >{{symptom.Description}}</p>
              </li>
          </ul>
      </ng-container>
  <div id="symptoms-markdown4" class="show-list-numbers-and-dots">
  </div>
</ion-content>