<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Treatments
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <form id="treatments-form4">
    <ion-searchbar name="lookfor" id="lookfor" [(ngModel)]='lookfor' (search)="searchTreatments(lookfor)"></ion-searchbar>
  </form>
  <h1 id="treatments-heading10" style="color:#FF0000;">
    Treatments
  </h1>
  {% comment %} treatment factor is sorted by their different groups  {% endcomment %}
    <ng-container *ngFor="let treatmentType of treatmenttypes; index as i; trackBy: trackByIndex">
      <h3 style="color:#FF0000;">{{treatmentType.Description}}</h3>
      <ul *ngFor="let treatment of treatments; index as j; trackBy: trackByIndex">
        <li *ngIf="treatment.TreatmentTypeID === i +1">
          <p>{{treatment.Description}}</p>
        </li>
      </ul>
</ng-container>
</ion-content>
